<html>
<head>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">
        &times;
    </button>
    <h4>发生错误，错误原因:${message}</h4>
    <p>将在<span id="mes">3</span>秒后跳转到登录页面！</p>
</div>

</body>
<script language="javascript" type="text/javascript">
var i=3;
var intervalid;
intervalid=setInterval("fun()",1000);
function fun() {
if(i <= 0){
window.location.href='/system/loginForm';
clearInterval(intervalid);
}
document.getElementById("mes").innerHTML = i;
i--;
}
</script>
</html>
